page-movie-detail {
  ion-grid{
    margin-bottom: 3em;
    margin-top: 3em;
  }
  .poster-col img{
    max-height: 80vh;
    width: auto;
    margin: auto 0;
  }

  .heart-red{
    color:red !important;
  }

  .toolbar-background{
    background-color: #488aff;
    color: white;
}

  .title > .toolbar-title, .bar-button{
    color: white;
  }
}
