page-favorites {
    .toolbar-background{
        background-color: #488aff;
        color: white;
    }
    
      .title > .toolbar-title, .bar-button{
        color: white;
      }

    .favorite{
        background-color: #eeeeee;
        color: white;
    }
}
