page-serie-detail {
    .heart-red{
        color:red !important;
      }
    
      .toolbar-background{
        background-color: #488aff;
        color: white;
    }
    
      .title > .toolbar-title, .bar-button{
        color: white;
      }
}
